[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
pytest = "7.4.2"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.10"
